.message {
    padding: 1rem;

    background: #eff8ff;
    color: #2779bd;

    border-color: #6cb2eb;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2rem;
}
.message.hidden {
    display: none;
}
.message.success {
    background: #e3fcec;
    color: #1f9d55;
    border-color: #51d88a;
}
.message.error {
    background: #fcebea;
    color: #cc1f1a;
    border-color: #ef5753;
}

.container {
    width: 100%;
    max-width: 1600px;
}

.page-footer {
    background-color: #8bc34a;
}

.main {
    margin-bottom: 2%;
}

.icons {
    text-align: right;
}

.nav-wrapper, .nav-content, .page-footer {
    background-color: #d7da23;
}

a.brand-logo {
    color: #70706f;
}

.tabs.tabs-transparent .tab a.active {
    color: #70706f;
}

.tabs.tabs-transparent .tab a, .tabs.tabs-transparent .tab.disabled a, .tabs.tabs-transparent .tab.disabled a:hover {
    color: #70706f;
}

.tabs.tabs-transparent .tab a:hover {
    color: #000000;
}

.footer-css {
    color: #70706f;
}

nav ul a {
    color: #70706f;
}